<ion-tabs [selectedIndex]="mySelectedCompanyTabIndex">
  <ion-tab [root]="companyTab1Root" tabTitle='{{ "MNU_LIST" | translate }}' tabIcon="list"></ion-tab>
  <ion-tab [root]="companyTab2Root" tabTitle='{{ "MNU_PRINCIPAL" | translate }}' tabIcon="basket"></ion-tab>
  <ion-tab [root]="companyTab3Root" tabTitle='{{ "MORE" | translate }}' tabIcon="more"></ion-tab>
</ion-tabs>