<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{ "MNU_PRINCIPAL" | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-page">

	<ion-row responsive-sm>

		<ion-col>

		<ion-card>
			<img  src="{{ this.img_urlSelected }}" class="card-img">
		</ion-card>
		
		<ion-item *ngIf="this.global.percentage < 100">
		  {{ "SENDING" | translate }}
		  <ion-badge item-right>{{this.global.percentage}}%</ion-badge>
		</ion-item>
			
			<ion-fab left top>
				<button ion-fab color="secondary">
					<ion-icon name="add"></ion-icon>
				</button>
				<ion-fab-list>
					<button ion-fab (click)="getPicture(1)">
						<ion-icon name="aperture"></ion-icon>
					</button>
					<button ion-fab (click)="getPicture(0)">
						<ion-icon name="images"></ion-icon>
					</button>
				</ion-fab-list>
			</ion-fab>
			
		</ion-col>

		<ion-col> 
			<form [formGroup]="itemPrincipalForm" (ngSubmit)="postForm()" >

				<ion-list no-lines>

					<!-- id -->
					<ion-item hidden="true">
						<ion-label floating>ID</ion-label>
						<ion-input  type="text" formControlName="id"></ion-input>
					</ion-item>
					
					<!-- company_id -->
					<ion-item hidden="true">
						<ion-label floating>Company ID</ion-label>
						<ion-input  type="text" formControlName="company_id"></ion-input>
					</ion-item>

					<!-- img_url -->
					<ion-item hidden="true">
						<ion-label floating>Img URL</ion-label>
						<ion-input type="text" formControlName="img_url"></ion-input>
					</ion-item>

					<!-- description -->
					<ion-row responsive-sm>
						<ion-col>
							<ion-item>
								<ion-label floating>{{ "DESCRIPTION" | translate }}</ion-label>
								<ion-input  type="text" #input formControlName="description" clearInput></ion-input>
							</ion-item>
							<ion-item  text-wrap *ngIf="!itemPrincipalForm.controls.description.valid && (itemPrincipalForm.controls.description.dirty || submitAttempt)">
								<p ion-text color="danger">{{ "INVALID_DESCRIPTION" | translate }}</p>
							</ion-item>
						</ion-col>
					</ion-row> 


					<!-- type [ A = Acompanhamento, B = Bebida, E = Petisco, P = Comida	] -->
					<ion-row responsive-sm>
						<ion-col>
							<ion-item>
								<ion-label floating>{{ "TYPE" | translate }}</ion-label>
								<ion-select formControlName="type" (ionChange)="typeChange($event)">
									<ion-option *ngFor="let typeItem of this.itemService.typeList" value="{{typeItem.value}}">
									{{ typeItem.description | translate }}
									</ion-option>
								</ion-select>
							</ion-item>
							<ion-item  text-wrap *ngIf="!itemPrincipalForm.controls.type.valid ">
								<p ion-text color="danger">{{ "INVALID_TYPE" | translate }}</p>
							</ion-item>
						</ion-col>
						<ion-col> 
							<ion-row>
								<ion-col>
									<!-- quantity -->
									<ion-item>
										<ion-label floating>{{ "QUANTITY" | translate }}</ion-label>
										<ion-input  type="number" formControlName="quantity" clearInput></ion-input>
									</ion-item>
									<ion-item  text-wrap *ngIf="!itemPrincipalForm.controls.quantity.valid">
										<p ion-text color="danger">{{ "INVALID_QUANTITY" | translate }}</p>
									</ion-item>
								</ion-col>
								<ion-col>
									<!-- unity -->
									<ion-item>
										<ion-label floating>{{ "UNITY" | translate }}</ion-label>
										<ion-select formControlName="unity">

											<ion-option *ngFor="let unitItem of this.unitList" value="{{unitItem.value}}">
												{{ unitItem.description | translate }}
											</ion-option>
										</ion-select>
									</ion-item>
									<ion-item  text-wrap *ngIf="!itemPrincipalForm.controls.unity.valid">
										<p ion-text color="danger">{{ "INVALID_UNITY" | translate }}</p>
									</ion-item>
								</ion-col>
							</ion-row> 
						</ion-col>
					</ion-row> 

					<ion-row responsive-sm>
						<ion-col>
							<!-- tf_need_preparation -->
							<ion-item>
								<ion-label>{{ "NEED_PREPARATION" | translate }}</ion-label>
								<ion-toggle formControlName="tf_need_preparation"></ion-toggle>
							</ion-item>
						</ion-col>
						<ion-col>
							<!-- tf_allows_cooking_steak -->
							<ion-item>
								<ion-label>{{ "ALLOWS_COOKING_STEAK" | translate }}</ion-label>
								<ion-toggle formControlName="tf_allows_cooking_steak"></ion-toggle>
							</ion-item>
						</ion-col>
					</ion-row> 

					<!-- preparation_time_min -->
					<ion-row responsive-sm>
						<ion-col>
							<ion-item>
								<ion-label>{{ "PREPARATION_TIME_MINUTES" | translate }}
									<ion-badge item-right>{{ itemPrincipalForm.controls.preparation_time_min.value }}</ion-badge>
								</ion-label>
								<ion-range min="1" max="60" formControlName="preparation_time_min">
									<ion-label range-left>1</ion-label>
									<ion-label range-right>60</ion-label>
								</ion-range>
							</ion-item>
							<ion-item  text-wrap *ngIf="!itemPrincipalForm.controls.preparation_time_min.valid && (itemPrincipalForm.controls.preparation_time_min.dirty || submitAttempt)">
								<p ion-text color="danger">{{ "INVALID_PREPARATION_TIME_MINUTES" | translate }}</p>
							</ion-item>
						</ion-col>
					</ion-row>            
					<!-- Botões -->
					<ion-item>
						<ion-buttons end>
							<ion-row responsive-sm>
								<ion-col>
									<button [disabled]="itemPrincipalForm.invalid" type="submit" ion-button icon-left block>
										<ion-icon name="arrow-dropright"></ion-icon>
										<label>{{ "SAVE" | translate }}</label>
									</button>
								</ion-col>
							</ion-row>
					 </ion-buttons>
					 </ion-item>

				</ion-list>

			</form>

		</ion-col>
	</ion-row> 
</ion-content>
<!--
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
-->