<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{ "SIGNUP" | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-page">

	<div class="logo">
		<img src="assets/img/appicon.svg" alt="Ionic Logo">
	</div>
	
	<form [formGroup]="signupForm" (ngSubmit)="postSignupForm()" >
		<ion-list no-lines>
			<!-- Email -->
			<ion-item>
				<ion-label floating>{{ "EMAIL" | translate }}</ion-label>
				<ion-input  type="email" formControlName="email" checkEmail clearInput debounce="2000"></ion-input>
			</ion-item>
            <ion-item  text-wrap *ngIf="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitAttempt)">
                <p ion-text color="danger">{{ "EMAIL_INVALID" | translate }}</p>
            </ion-item>
            <ion-item *ngIf="signupForm.controls.email.pending">
            	<p ion-text color="danger">{{ "VALIDATION_IN_PROGRESS" | translate }}</p>
            </ion-item>
            <ion-item *ngIf="!signupForm.controls.email.valid && !signupForm.controls.email.pending && (signupForm.controls.email.dirty || submitAttempt)">
                <p ion-text color="danger">{{ "EMAIL_IN_USE" | translate }}</p>
            </ion-item>
			<!-- password -->
			<ion-item>
				<ion-label floating>{{ "PASSWORD" | translate }}</ion-label>
				<ion-input  type="password" formControlName="password_hash" clearInput></ion-input>
			</ion-item>
            <ion-item  text-wrap *ngIf="!signupForm.controls.password_hash.valid && (signupForm.controls.password_hash.dirty || submitAttempt)">
                <p ion-text color="danger">{{ "INVALID_PASSWORD" | translate }}</p>
            </ion-item>

			<ion-item>
				<ion-buttons end>
					<ion-row responsive-sm>
						<ion-col>
							<button [disabled]="signupForm.invalid" type="submit" ion-button icon-left block>
								<ion-icon name="add"></ion-icon>
								<label>{{ "CREATE" | translate }}</label>
							</button>
						</ion-col>
						<!--<ion-col>
							<button (click)="onFacebook(signupForm)" ion-button icon-left block>
								<ion-icon name="logo-facebook"></ion-icon>
								<label>{{ "FACEBOOK" | translate }}</label>
							</button>
						</ion-col> -->
					</ion-row>
			 </ion-buttons>
			 </ion-item>


		</ion-list>
	</form>

</ion-content>