<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ "MNU_LIST" | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-page">


	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content>

		</ion-refresher-content>
	</ion-refresher>

	<ion-segment [(ngModel)]="alimentGroup" (ionChange)="filter( $event )" color="primary">
		<ion-segment-button value="A" >
			{{"ALL" | translate}}
		</ion-segment-button>
		<ion-segment-button value="L">
			{{"LIQUID" | translate}}
		</ion-segment-button>
		<ion-segment-button value="S">
			{{"SOLID" | translate}}
		</ion-segment-button>
	</ion-segment>

	<ion-searchbar [(ngModel)]="search" (ionInput)="filter($event)" placeholder='{{ "SEARCH" | translate }}' debounce="1000" animated="true">
	</ion-searchbar>

	<ion-list>
			<ion-item-sliding *ngFor="let item of this.itemService.list">

				<button ion-item (click)="select(item)">
						<ion-thumbnail item-left>
							<img src="{{ item.img_url }}">
						</ion-thumbnail>
						<h2>{{ item.description }}</h2>
						<p>{{ item.quantity }}{{ item.unity }}</p>
				</button>
				
				<ion-item-options>
					<button ion-button color="danger" (click)="this.itemService.delete(item)">
						{{"DELETE" | translate}}
					</button>
				</ion-item-options>
			  </ion-item-sliding>
	</ion-list>

	<ion-fab right bottom (click)="add()">
		<button ion-fab>
			<ion-icon name="add">
			</ion-icon>
		</button>
	</ion-fab>

</ion-content>