<!-- logged out menu -->
<ion-menu id="loggedOutMenu" [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title>{{ 'MENU' | translate }}</ion-title>
			<ion-buttons end>
				<button ion-button (click)="onChangeLanguage('en')">EN</button>
				<button ion-button (click)="onChangeLanguage('pt-br')">BR</button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-content class="outer-content">
		<ion-list>
			<ion-list-header>{{ "ACCOUNT" | translate }}</ion-list-header>
			<button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
				<ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
				{{p.title |translate}}
			</button>
		</ion-list>
		<ion-list>
			<ion-list-header>{{ "TUTORIAL" | translate }}</ion-list-header>
			<button ion-item menuClose (click)="openTutorial()">
				<ion-icon item-left name="hammer"></ion-icon>
				{{ "SHOW" | translate }}
			</button>
		</ion-list>
	</ion-content>
</ion-menu>

<!-- logged in menu -->
<ion-menu id="loggedInMenu" [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title>{{ 'MENU' | translate }}</ion-title>
			<ion-buttons end>
				<button ion-button (click)="onChangeLanguage('en')">EN</button>
				<button ion-button (click)="onChangeLanguage('pt-br')">BR</button>
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-content class="outer-content">
		<ion-list>
			<ion-list-header>{{ "NAVIGATE" | translate }}</ion-list-header>
			<button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
				<ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
				{{p.title | translate}}
			</button>
		</ion-list>
		<ion-list>
			<ion-list-header>{{ "REGISTRATION" | translate }}</ion-list-header>
			<button ion-item menuClose *ngFor="let p of registrationPages" (click)="openPage(p)">
				<ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
				{{p.title | translate}}
			</button>
		</ion-list>
		<ion-list>
			<ion-list-header>{{ "ACCOUNT" | translate }}</ion-list-header>
			<button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
				<ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
				{{p.title | translate }}
			</button>
		</ion-list>
		<ion-list>
			<ion-list-header>{{ "TUTORIAL" | translate }}</ion-list-header>
			<button ion-item menuClose (click)="openTutorial()">
				<ion-icon item-left name="hammer"></ion-icon>
				{{ "SHOW" | translate }}
			</button>
		</ion-list>

	</ion-content>

</ion-menu>


<!-- main navigation -->
<!-- After #content swipeBackEnabled="false" -->
<ion-nav [root]="rootPage" #content></ion-nav>
