<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{"SUPPORT" | translate }}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="logo">
		<img src="assets/img/appicon.svg" alt="Ionic Logo">
	</div>

	<form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">{{ "ENTER_SUPPORT_MESSAGE" | translate }}</ion-label>
				<ion-textarea [(ngModel)]="supportMessage" name="supportQuestion" #supportQuestion="ngModel" rows="6" required></ion-textarea>
			</ion-item>
		</ion-list>

		<p ion-text [hidden]="supportQuestion.valid || submitted === false" color="danger" padding-left>
			{{"REQUIRE_SUPPORT_MESSAGE" | translate}}
		</p>

		<div padding>
			<button ion-button block type="submit">{{ "SUBMIT" | translate}}</button>
		</div>
	</form>
</ion-content>
