<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ "MNU_LIST" | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-page">

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content>

		</ion-refresher-content>
	</ion-refresher>

	<ion-searchbar [(ngModel)]="searchCompany" (ionInput)="filter($event)" placeholder='{{ "SEARCH" | translate }}' debounce="1000" animated="true">
	</ion-searchbar>
	
	<ion-list>
			<ion-item-sliding *ngFor="let company of this.companyService.list">

				<button ion-item (click)="select(company)">
						<ion-thumbnail item-left>
							<img src="{{ company.img_url }}">
						</ion-thumbnail>
						<h2>{{ company.description }}</h2>
				</button>
				
				<ion-item-options>
					<button ion-button color="danger" (click)="this.companyService.delete(company)">
						{{"DELETE" | translate}}
					</button>
				</ion-item-options>
			  </ion-item-sliding>
	</ion-list>

	<ion-fab right bottom (click)="add()">
		<button ion-fab>
			<ion-icon name="add">
			</ion-icon>
		</button>
	</ion-fab>

</ion-content>