<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{ "MORE" | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-row *ngIf="this.companyService.selected.id == null">
		  <ion-col>
			<h1>{{ "SELECT_COMPANY" | translate }}</h1>
		  </ion-col>
	 </ion-row>
	 
	<ion-row *ngIf="this.companyService.selected.id > 0">
		<ion-card>
			<ion-list>
				<ion-item>
					<ion-avatar item-left>
						<img src="{{ this.companyService.selected.img_url }}">
					</ion-avatar>
					<h2>{{ this.companyService.selected.description }}</h2>
				</ion-item>
			</ion-list>
		</ion-card>
	</ion-row>

    <ion-row>
      <ion-col align-self-start (click)="companyCashierPage()" *ngIf="this.companyService.selected.id > 0">
          <ion-icon name="calculator" color="secondary">
          </ion-icon>
          <br>{{ "CASHIER" | translate }}
      </ion-col>
      <ion-col align-self-start (click)="companyCookPage()" *ngIf="this.companyService.selected.id > 0">
          <ion-icon name="bowtie" color="secondary">
          </ion-icon>
          <br>{{ "BARTENDER" | translate }}
      </ion-col>
      <ion-col align-self-start (click)="companyAreaPage()" *ngIf="this.companyService.selected.id > 0">
          <ion-icon name="restaurant" color="secondary">
          </ion-icon>
          <br>{{ "COOK" | translate }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-start (click)="companyBartenderPage()" *ngIf="this.companyService.selected.id > 0">
          <ion-icon name="square-outline" color="secondary">
          </ion-icon>
          <br>{{ "AREA" | translate }}
      </ion-col>
      <ion-col align-self-start (click)="companyBedroomPage()" *ngIf="this.companyService.selected.id > 0">
          <ion-icon name="home" color="secondary">
          </ion-icon>
          <br>{{ "BEDROOM" | translate }}
      </ion-col>
      <ion-col align-self-start (click)="companyTablePage()" *ngIf="this.companyService.selected.id > 0">
          <ion-icon name="grid" color="secondary">
          </ion-icon>
          <br>{{ "TABLE" | translate }}
      </ion-col>
    </ion-row>
</ion-content>
