<ion-header>
	<ion-navbar>
	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
	<ion-title>{{ "LOGIN" | translate }}</ion-title>
	<ion-buttons end>
		<button ion-button (click)="this.global.changeLanguage('en')">EN</button>
		<button ion-button (click)="this.global.changeLanguage('pt-br')">BR</button>
	</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="logo">
		<img src="assets/img/appicon.svg" alt="Ionic logo">
	</div>

	<form [formGroup]="loginForm" (ngSubmit)="postLoginForm()" >
		<ion-list no-lines>
			<!-- Email -->
			<ion-item>
				<ion-label floating>{{ "EMAIL" | translate }}</ion-label>
				<ion-input  type="email" formControlName="email" clearInput></ion-input>
			</ion-item>
            <ion-item  text-wrap *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)">
                <p ion-text color="danger">{{ "EMAIL_INVALID" | translate }}</p>
            </ion-item>
			<!-- password -->
			<ion-item>
				<ion-label floating>{{ "PASSWORD" | translate }}</ion-label>
				<ion-input  type="password" formControlName="password" clearInput></ion-input>
			</ion-item>
            <ion-item  text-wrap *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
                <p ion-text color="danger">{{ "INVALID_PASSWORD" | translate }}</p>
            </ion-item>

			<ion-item>
				<ion-buttons end>
					<ion-row responsive-sm>
						<ion-col>
							<button [disabled]="loginForm.invalid" type="submit" ion-button icon-left block>
								<ion-icon name="arrow-dropright"></ion-icon>
								<label>{{ "LOGIN" | translate }}</label>
							</button>
						</ion-col>
						<!--<ion-col>
							<button (click)="onFacebook(loginForm)" ion-button icon-left block>
								<ion-icon name="logo-facebook"></ion-icon>
								<label>{{ "FACEBOOK" | translate }}</label>
							</button>
						</ion-col>-->
						<ion-col>
							<button (click)="onSignup()" ion-button icon-left block>
								<ion-icon name="add"></ion-icon>
								<label>{{ "SIGNUP" | translate }}</label>
							</button>
						</ion-col>
					</ion-row>
			 </ion-buttons>
			 </ion-item>
		</ion-list>
	</form>
</ion-content>
