<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{ "MNU_PRINCIPAL" | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-page">

	<ion-row responsive-sm>

		<ion-col>

		<ion-card>
			<img  src="{{ this.img_urlSelected }}" class="card-img">
		</ion-card>
		
		<ion-item *ngIf="this.global.percentage < 100">
		  {{ "SENDING" | translate }}
		  <ion-badge item-right>{{this.global.percentage}}%</ion-badge>
		</ion-item>
			
			<ion-fab left top>
				<button ion-fab color="secondary">
					<ion-icon name="add"></ion-icon>
				</button>
				<ion-fab-list>
					<button ion-fab (click)="getPicture(1)">
						<ion-icon name="aperture"></ion-icon>
					</button>
					<button ion-fab (click)="getPicture(0)">
						<ion-icon name="images"></ion-icon>
					</button>
				</ion-fab-list>
			</ion-fab>
			
		</ion-col>

		<ion-col> 
			<form [formGroup]="companyPrincipalForm" (ngSubmit)="postForm()" >
				<ion-list no-lines>

					<!-- id -->
					<ion-item hidden="true">
						<ion-label floating>ID</ion-label>
						<ion-input  type="text" formControlName="id"></ion-input>
					</ion-item>
					
					<!-- img_url -->
					<ion-item hidden="true">
						<ion-label floating>Img URL</ion-label>
						<ion-input type="text" formControlName="img_url"></ion-input>
					</ion-item>

					<!-- description -->
					<ion-row responsive-sm>
						<ion-col>
							<ion-item>
								<ion-label floating>{{ "DESCRIPTION" | translate }}</ion-label>
								<ion-input  type="text" #input formControlName="description" clearInput></ion-input>
							</ion-item>
							<ion-item  text-wrap *ngIf="!companyPrincipalForm.controls.description.valid && (companyPrincipalForm.controls.description.dirty || submitAttempt)">
								<p ion-text color="danger">{{ "INVALID_DESCRIPTION" | translate }}</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<!-- address -->
					<ion-row responsive-sm>
						<ion-col>
							<ion-item>
								<ion-label floating>{{ "ADDRESS" | translate }}</ion-label>
								<ion-input  type="text" #input formControlName="address" clearInput></ion-input>
							</ion-item>
							<ion-item  text-wrap *ngIf="!companyPrincipalForm.controls.address.valid && (companyPrincipalForm.controls.address.dirty || submitAttempt)">
								<p ion-text color="danger">{{ "INVALID_ADDRESS" | translate }}</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<!-- cnpj -->
					<ion-row responsive-sm>
						<ion-col>
							<ion-item>
								<ion-label floating>{{ "CNPJ" | translate }}</ion-label>
								<ion-input  type="text" #input formControlName="cnpj" clearInput [textMask]="{mask: mask}" ></ion-input>
							</ion-item>
							<ion-item  text-wrap *ngIf="!companyPrincipalForm.controls.cnpj.valid && (companyPrincipalForm.controls.cnpj.dirty || submitAttempt)">
								<p ion-text color="danger">{{ "INVALID_CNPJ" | translate }}</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<!-- estate_inscription -->
					<ion-row responsive-sm>
						<ion-col>
							<ion-item>
								<ion-label floating>{{ "ESTATE_INSCRIPTION" | translate }}</ion-label>
								<ion-input  type="text" #input formControlName="estate_inscription" clearInput></ion-input>
							</ion-item>
							<ion-item  text-wrap *ngIf="!companyPrincipalForm.controls.estate_inscription.valid && (companyPrincipalForm.controls.estate_inscription.dirty || submitAttempt)">
								<p ion-text color="danger">{{ "INVALID_ESTATE_INSCRIPTION" | translate }}</p>
							</ion-item>
						</ion-col>
					</ion-row>

					<!-- type -->
					<ion-row responsive-sm>
						<ion-col>
							<ion-item>
								<ion-label floating>{{ "TYPE" | translate }}</ion-label>
								<ion-select formControlName="type" (ionChange)="typeChange($event)">
									<ion-option *ngFor="let typeItem of this.companyService.typeList" value="{{typeItem.value}}">
									{{ typeItem.description | translate }}
									</ion-option>
								</ion-select>
							</ion-item>
							<ion-item  text-wrap *ngIf="!companyPrincipalForm.controls.type.valid ">
								<p ion-text color="danger">{{ "INVALID_TYPE" | translate }}</p>
							</ion-item>
						</ion-col>
					</ion-row>  
					
					<!-- max_discount_percentage -->
					<ion-row responsive-sm>
						<ion-col>
							<ion-item>
								<ion-label>{{ "MAX_DISCOUNT_PERCENTAGE" | translate }}
									<ion-badge item-right>{{ companyPrincipalForm.controls.max_discount_percentage.value }}</ion-badge>
								</ion-label>
								<ion-range min="0" max="100" formControlName="max_discount_percentage">
									<ion-label range-left>0%</ion-label>
									<ion-label range-right>100%</ion-label>
								</ion-range>
							</ion-item>
							<ion-item  text-wrap *ngIf="!companyPrincipalForm.controls.max_discount_percentage.valid && (companyPrincipalForm.controls.max_discount_percentage.dirty || submitAttempt)">
								<p ion-text color="danger">{{ "INVALID_MAX_DISCOUNT_PERCENTAGE" | translate }}</p>
							</ion-item>
						</ion-col>
					</ion-row>  

					<!-- Botões -->
					<ion-item>
						<ion-buttons end>
							<ion-row responsive-sm>
								<ion-col>
									<button [disabled]="companyPrincipalForm.invalid" type="submit" ion-button icon-left block>
										<ion-icon name="arrow-dropright"></ion-icon>
										<label>{{ "SAVE" | translate }}</label>
									</button>
								</ion-col>
							</ion-row>
					 	</ion-buttons>
					</ion-item>					 

				</ion-list>
			</form>

		</ion-col>
	</ion-row> 
</ion-content>
