<ion-header>
	<ion-navbar>
	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
	<ion-title>{{ "ABOUT" | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
    <img  src="assets/img/logo.svg" class="card-img">

    <h4>{{ "ABOUT_TEAM" | translate }}</h4>

    <ion-list no-lines>
      <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
        <ion-label>{{ "DATE" | translate }}</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" max="2056" [(ngModel)]="startDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="flag" item-left></ion-icon>
        <ion-label>{{ "LANGUAGE_LOCAL" | translate }}</ion-label>
        <ion-badge item-right>{{ this.global.languageLocal }}</ion-badge>
      </ion-item>
      
      <ion-item *ngIf="this.global.languageLocal != this.global.languageInUse">
        <ion-icon name="logo-twitter" item-left></ion-icon>
        <ion-label>{{ "LANGUAGE_IN_USE" | translate }}</ion-label>
        <ion-badge item-right>{{ this.global.languageInUse }}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-icon name="pin" item-left></ion-icon>
        <ion-label>{{ "LOCATION" | translate }}</ion-label>
        <ion-badge item-right>({{positionX}},{{positionY}})</ion-badge>
      </ion-item>
    </ion-list>

    <p>
      {{ "ABOUT_MESSAGE" | translate }}
    </p>
</ion-content>
