<ion-tabs [selectedIndex]="mySelectedItemTabIndex">
  <ion-tab [root]="itemTab1Root" tabTitle='{{ "MNU_LIST" | translate }}' tabIcon="list"></ion-tab>
  <ion-tab [root]="itemTab2Root" tabTitle='{{ "MNU_PRINCIPAL" | translate }}' tabIcon="basket"></ion-tab>
  <ion-tab [root]="itemTab3Root" tabTitle='{{ "MNU_COMPOSITION" | translate }}' tabIcon="keypad"></ion-tab>
  <ion-tab [root]="itemTab4Root" tabTitle='{{ "MNU_SUBSTITUTION" | translate }}' tabIcon="swap"></ion-tab>
</ion-tabs>
