<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>{{ "MNU_COMPOSITION" | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<!-- <ion-scroll zooming = "true" scrollY="true" style = "width: 100%; height: 50%;"></ion-scroll> -->

<ion-content class="login-page">
	<ion-row>
		<ion-card>
			<ion-list>
				<ion-item>
					<ion-avatar item-left>
						<img src="{{ this.itemService.selected.img_url }}">
					</ion-avatar>
					<h2>{{ this.itemService.selected.description }}</h2>
				</ion-item>
			</ion-list>
		</ion-card>
	</ion-row>
	<ion-row responsive-sm>
		<ion-col>
			<h1>{{ "SELECTED" | translate }}</h1>
			<ion-list>
				<ion-item *ngFor="let item of this.compositionSelectedList">
					<ion-thumbnail item-left>
						<img src="{{ item.img_url }}">
					</ion-thumbnail>
					<h2>{{ item.description }}</h2>
					<p>{{ item.quantity }}{{ item.unity }}</p>
					<button ion-button  color="danger" (click)="delete(item)" block>
						{{"DELETE" | translate}}
					</button>
				</ion-item>
			</ion-list>
		</ion-col>
		<ion-col>
			<h1>{{ "DISPONIBLE" | translate }}</h1>
			<ion-searchbar (ionInput)="filter($event)" placeholder='{{ "SEARCH" | translate }}' debounce="1000" animated="true">
			</ion-searchbar>
			<ion-list>
				<ion-item *ngFor="let item of this.compositionToSelectList">
					<ion-thumbnail item-left>
						<img src="{{ item.img_url }}">
					</ion-thumbnail>
					<h2>{{ item.description }}</h2>
					<p>{{ item.quantity }}{{ item.unity }}</p>
					<button ion-button (click)="add(item)" block *ngIf="this.itemService.selected.id > 0">
						{{"ADD" | translate}}
					</button>
				</ion-item>
			</ion-list>
		</ion-col>
	</ion-row>

</ion-content>