<ion-header no-border>
	<ion-navbar>
		<ion-buttons end *ngIf="showSkip">
			<button ion-button (click)="startApp()" color="primary">{{ "SKIP" | translate }}</button>
			<button ion-button (click)="this.global.changeLanguage('en')" color="primary">EN</button>
			<button ion-button (click)="this.global.changeLanguage('pt-br')" color="primary">BR</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-bounce>
  <ion-slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/tutorial-img-1.png" class="slide-image"/>
      <h2 class="slide-title">{{ "TUTORIAL_TITLE_1" | translate }}</h2>
      <p>{{ "TUTORIAL_MSG_1" | translate }}</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/tutorial-img-2.png" class="slide-image"/>
      <h2 class="slide-title" >{{ "TUTORIAL_TITLE_2" | translate }}</h2>
      <p>{{ "TUTORIAL_MSG_2" | translate }}</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/tutorial-img-3.png" class="slide-image"/>
      <h2 class="slide-title">{{ "TUTORIAL_TITLE_3" | translate }}</h2>
      <p>{{ "TUTORIAL_MSG_3" | translate }}</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/tutorial-img-4.png" class="slide-image"/>
      <h2 class="slide-title">{{ "TUTORIAL_TITLE_4" | translate }}</h2>
      <p>{{ "TUTORIAL_MSG_4" | translate }}</p>
      <button ion-button icon-right large clear (click)="startApp()">
        {{ "CONTINUE" | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
